name: iles-frontend

services:
  frontend:
    image: nginx:alpine
    volumes:
      - ./dist:/usr/share/nginx/html
    ports:
      - '80:80'
    restart: always
    networks:
      - internal

networks:
  internal:
    driver: bridge
